body{
    background-image: linear-gradient(to left, rgb(243, 6, 6), rgb(214, 65, 65), rgb(255, 136, 136));

}
h1{
    color: rgb(255, 238, 0);
}
h2{
    color: rgb(255, 153, 0);
}
h1#principal{
    color: rgb(255, 255, 255);
    text-align: center;
    font-variant: small-caps;
}
.medio{
    color: white;
}